@import "./scss/master";

.App {
  min-width: 768px;
  background-color: $primary-color;
  color: $primary-textcolor;
}
main {
  min-height: 60vh;
}
article,
main {
  overflow: hidden;
  text-align: center;
  margin: 50px 20px;
  border-style: solid;
  border-color: $orange-color;
  border-width: 1px;
}

@media (min-width: 468px) and 
       (max-width: 767px){
         .App{min-width:468px ;}
       }