$primary-color: rgb(32, 32, 32);
$primary-textcolor: rgb(255, 255, 255);
$secondary-color: rgb(123, 112, 92);
$blizzard-color:rgb(64, 168, 248);
$orange-color:rgb(255, 150, 50);

@mixin lognavButton {
  margin-top: 10px;
  width: 80px;
  border-radius: 5%;
  background: $secondary-color;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid $primary-color;
  padding: 5px;
  text-align: center;
}

@mixin lognavButtonActive {
  border: 1px solid $primary-textcolor;
  box-shadow: 0 0 5px -1px rgba(255, 255, 255, 0.8);
}
