@import "./master";
main {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.itemBox {
  margin: 50px;
}
.classNameplate {
  @include lognavButton();
  width: 189px;
}
.itemBox:active .classNameplate {
  @include lognavButtonActive();
}
.itemBox:hover .classNameplate {
  background: $blizzard-color;
}
.Druid,
.Hunter,
.Mage,
.Paladin,
.Priest,
.Rogue,
.Shaman,
.Warlock,
.Warrior,
.Neutral {
  width: 200px;
  height: 185px;
  background: url("../img/classes.png");
}
.Druid {
  background-position: 0 0;
}
.Hunter {
  background-position: 800px 0;
}
.Mage {
  background-position: 600px 0;
}
.Paladin {
  background-position: 400px 0;
}
.Priest {
  background-position: 200px 0;
}
.Rogue {
  background-position: 0 200px;
}
.Shaman {
  background-position: 800px 200px;
}
.Warlock {
  background-position: 600px 200px;
}
.Warrior {
  background-position: 400px 200px;
}
.Neutral {
  background-position: 200px 200px;
}
.GvG,
.TGT,
.WotOG,
.MSoG,
.JtU,
.KotFT,
.KiC,
.TW,
.TBP {
  width: 200px;
  height: 160px;
  background-size: cover;
  background-position: center;
  background-color: $primary-color;
}

.GvG {
  background-image: url("../img/GvG.png");
}
.TGT {
  background-image: url("../img/TGT.png");
}
.WotOG {
  background-image: url("../img/WotOG.png");
}
.MSoG {
  background-image: url("../img/MSoG.png");
}
.JtU {
  background-image: url("../img/JtU.png");
}
.KotFT {
  background-image: url("../img/KotFT.png");
}
.KiC {
  background-image: url("../img/KiC.png");
}
.TW {
  background-image: url("../img/TW.png");
}
.TBP {
  background-image: url("../img/TBP.png");
}
