@import "./master";
@mixin heightandtopmargin() {
  margin-top: 15px;
  height: 100px;
}

header {
  display: flex;
  height: 130px;
  margin-bottom: 10px;
}

.logo {
  @include heightandtopmargin();
  min-width: 100px;
  margin-left: 15px;
  img {
    width: 100px;
  }
}

.banner {
  @include heightandtopmargin();
  min-width: 365px;
  width: 100%;
  background: url("../img/banner.png") no-repeat center;
  background-size: contain;
}
.displayName {
  margin-top: 10px;
  margin-right: 15px;
  padding: 5px;
}

.login {
  @include heightandtopmargin();
  margin-right: 15px;
}

.register,
.signin,
.logout {
  @include lognavButton();
}
.register:hover,
.signin:hover,
.logout:hover {
  background: $blizzard-color;
}
.register:active,
.signin:active,
.logout:active {
  @include lognavButtonActive;
}

@media (min-width: 468px) and (max-width: 767px) {
  header {
    height: 260px;
    flex-wrap: wrap;
    justify-content: center;
    .banner{order:1};
    .logo,.login{margin:0 25px; order:3}
    }
    
  
}
