@import "./master";
nav {
 margin-left: 15px;
 margin-right: 15px;
 display: flex;
 height: 33px;
 padding-bottom: 5px;
}
.navButton {
  @include lognavButton();
  margin-top: 0;
}
.navButton:hover{
  background:$blizzard-color;
}
.navButton:active {
  @include lognavButtonActive();
}

@media (min-width: 468px) and (max-width: 767px) {
  nav{justify-content: center}
 .navButton{width: 72px}
}
